{% extends 'base.html.twig' %}

{% block title %}My Super App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="https://github.com/silarhi/symfony-docker-ci/commit/{{ git_commit }}">App v<span class="badge badge-primary">{{ app_version }} - {{ git_commit }}</span> running on Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</a>
        </div>
    </nav>
    <div class="container my-4">
        {{ description|raw }}
        <br />
        <div id="root">This will be modified by Javascript</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}